.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  border: 1px solid gray;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  background-image: linear-gradient(160deg, darkgrey 50%, darksalmon 80%);
  background-repeat: repeat;
}

.input {
  height: 30px;
  border-radius: 10px;
  margin-right: 15px;
}
