* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkgrey;
  position: relative;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

#root {
  position: relative;
  z-index: 1;
}
